@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Nunito:wght@300&display=swap');

:root {
    --cream: #EBD8B2;
    --lightBlue: #6C9BCF;
    --darkViolet: #251539;
}
.content {
    margin-bottom: 4rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.banner {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;

    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s, transform 1s;
}
.banner.show {
    opacity: 1;
    transform: translateY(0);
  }


.content h4 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: 1.6px;
}

.ban1 {
    display: flex;
    gap: 15px;
    margin-top: -4rem;
}
.ban1 p {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 3px;
}
.ban1 .p1 {
    color: white;
}
.ban1 .p2 {
    color: var(--lightBlue);
}

.content h2 {
    color: var(--cream);
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: -2.5rem;
}

.banner-intro {
    display: flex;
    width: 600px;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;

    color: white;
    font-size: 1rem;
    font-family: Inter;
    font-weight: 500;
    letter-spacing: 2.4px;

    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1.5s, transform 1.5s;
}
.banner.show .banner-intro {
    opacity: 1;
    transform: translateY(0);
  }

.proceed-btn {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--lightBlue);
    box-shadow: 0px 0px 4px 3px rgba(242, 231, 231, 0.25);

    letter-spacing: 1px;
    font-family: Inter;
    font-weight: 700;
    color: var(--cream);
    margin-top: 5rem;
}


/* ABOUT ME SECTION*/
.about-me {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5rem;
    text-align: left;
}

.about-me h4 {
    color: var(--lightBlue);
}

.sub-container1 {
    display: flex;
}
.about-me ul {
    list-style: none;
}

.about-me .parag {
    width: 600px;
    margin-left: -2rem;
    margin-top: -1rem;
}

.parag p {
    color: white;
    font-family: Inter;
    font-weight: 500;
    letter-spacing: 2px;
}

.self-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
}
.pic1, .pic2, .pic3 {
    width: 100px;
    height: 100px;
}
.pic1 {
    width: 140px;
    height: 140px;
}
.pic2 {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    transform: rotate(10deg);
    box-shadow: 4px 4px 4px 0px #EBD8B2;

    margin-left: 3rem;
    margin-top: -2rem;
}
.pic3 {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    transform: rotate(-10deg);
    box-shadow: 3px 4px 4px 0px #6C9BCF;

    margin-top: -1rem;
}

.shape {
    position: absolute;
    margin-top: -9rem;
    margin-left: -60rem;
    width: 142px;
    height: 142px;
    transform: rotate(115deg);
    flex-shrink: 0;

    border-radius: 142.758px;
    background: linear-gradient(301deg, rgba(182, 142, 64, 0.60) 0%, 
rgba(165, 192, 221, 0.00) 100%);
}